@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: "Roboto Light", Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    border-bottom: 1px solid yellow;
}

.logo {
    width: 80px;
    height: 80px;
    border: 1px solid yellow;
}

.logo img {
    width: 100%;
    min-width: 78px;
}

.logo:hover img {
    box-shadow: 0 0 5px 1px yellow;
    text-shadow: 0 0 3px white;
    cursor: pointer;
    color: white;
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.background-black {
    background-color: #000;
}

.modal-card {
    border: 1px solid yellow;
    /*width: 400px;*/
    padding: 1rem;
}

li {
    padding: .5rem 2rem;
    margin: 1rem;
    color: white;
    text-transform: uppercase;
    border: 1px solid yellow;
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
}

li:hover {
    text-shadow: 0 0 5px yellow, 0 0 5px yellow;
    box-shadow: 0 0 5px 1px yellow;
}

li a {
    text-decoration: none;
    color: white;
}

.new-release {
    margin: 1rem 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    min-width: 350px;
    max-width: 550px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.text-wrapper {
    text-align: left;
}

.wrapper2020 {
    width: 100%;
}

.img-fluid {
    width: 100%;
    height: auto;
    border: 1px solid yellow;
}

h3, p {
    color: white;
}

.accent {
    color: yellow;
}

.show {
    display: flex;
}
@media (max-width:500px) {
    .navbar {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        margin-bottom: 1rem;
    }
}
